<!doctype html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{{ page.title }} - Parents d'élèves de l'école de Janvry</title>

        <link rel="icon" href="/assets/images/janvry-150x150.jpg" sizes="32x32" />
        <link rel="icon" href="/assets/images/janvry-300x300.jpg" sizes="192x192" />
        <link rel="apple-touch-icon" href="/assets/images/janvry-300x300.jpg" />

        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        {% include header.html %}
        <main class="post">
            <h4>{{ page.title }}</h4>
            {{ content }}
        </main>
        {% include footer.html %}
    </body>
</html>